boot/
bin/
dev/
etc/
lost+found/
mnt/
proc/
root/
run/
sys/
tmp/
lib/
lib64/
usr/
opt/
sbin/
var/
etc/X11
etc/fonts
etc/host.conf
etc/kbd
etc/adjtime
etc/asound.conf
etc/bashrc
etc/dbus-1
etc/default/
etc/fonts/
etc/fstab
etc/group
etc/hosts
etc/inputrc
etc/issue
etc/locale.conf
etc/localtime
etc/login.defs
etc/machine-id
etc/modprobe.d/
etc/modules-load.d/
etc/mtab
etc/NetworkManager/
etc/nix/
etc/NIXOS
etc/pam.d/
etc/passwd
etc/pki/
etc/polkit-1/
etc/profile
etc/nsswitch.conf
etc/openvpn/
etc/os-release
etc/protocols
etc/pulse/
etc/.clean
etc/.pwd.lock
etc/resolv.conf
etc/resolv.conf.bak
etc/resolvconf.conf
etc/rpc
etc/samba/
etc/services
etc/shadow
etc/shells
etc/ssh/
etc/ssl/
etc/static
etc/subgid
etc/subuid
etc/sudoers
etc/sysctl.d
etc/systemd/
etc/tmpfiles.d/
etc/udev/
etc/vconsole.conf
etc/zoneinfo

home/stefan/.bash_logout
home/stefan/.bash_profile
home/stefan/.bashrc
home/stefan/.cache
home/stefan/.WebStorm*
home/stefan/.IntelliJIdea*
home/stefan/Desktop
home/stefan/.dub
home/stefan/.dmenu_cache
home/stefan/Documents/
home/stefan/Downloads/
home/stefan/.esd_auth
home/stefan/.gitconfig
home/stefan/.histfile
home/stefan/.local/
home/stefan/.ghc/
home/stefan/.nix-defexpr/
home/stefan/.nix-profile
home/stefan/.pentadactyl/
home/stefan/Pictures/
home/stefan/.pki
home/stefan/.rtorrent/
home/stefan/.ssh/
home/stefan/.texlive
home/stefan/.thunderbird/
home/stefan/.ts3client/
home/stefan/.vim/bundle
home/stefan/.vim/autoload
home/stefan/.vim/.netrwhist
home/stefan/.vim/init.vim
home/stefan/.viminfo
home/stefan/workspace/
home/stefan/.xsession-errors
home/stefan/.xinitrc
home/stefan/.zcompdump
home/stefan/.mpv/filters
home/stefan/.mpv/scripts
home/stefan/.mpv/shaders
home/stefan/.mpv/watch_later
home/stefan/.xmonad/xmonad
home/stefan/.xmonad/xmonad-x86_64-linux
home/stefan/.xmonad/xmonad.errors
home/stefan/.xmonad/xmonad.hi
home/stefan/.xmonad/xmonad.state
home/stefan/.xmonad/xmonad.o
home/stefan/.xmonad/xmonadSave.hs
home/stefan/.Xauthority
home/stefan/.fehbg
home/stefan/.octave_hist
home/stefan/.python_history
home/stefan/.cabal/
home/stefan/.dbus/
home/stefan/.lesshst
home/stefan/.java/
home/stefan/.weechat/
home/stefan/.swt/
home/stefan/.eclipse/
home/stefan/.aspell.en.prepl
home/stefan/.aspell.en.pws
home/stefan/.stack
home/stefan/.reds
home/stefan/.icons
home/stefan/.zhistory

home/stefan/Papers
home/stefan/currentSemester

home/stefan/.config/chromium
home/stefan/.config/gtk-2.0
home/stefan/.config/gtk-3.0
home/stefan/.config/htop
home/stefan/.config/keepassx
home/stefan/.config/libreofficedev
home/stefan/.config/mono.addins
home/stefan/.config/nvim
home/stefan/.config/pavucontrol.ini
home/stefan/.config/Pinta
home/stefan/.config/pulse
home/stefan/.config/QtProject.conf
home/stefan/.config/qutebrowser/bookmarks
home/stefan/.config/qutebrowser/quickmarks
home/stefan/.config/qutebrowser/qsettings
home/stefan/.config/qt5ct/colors
home/stefan/.config/menus/
home/stefan/.config/Mumble/
home/stefan/.config/texstudio
home/stefan/.config/vimb
home/stefan/.config/xm1
home/stefan/.config/zathura
home/stefan/.config/canto/curses-log
home/stefan/.config/canto/daemon-log
home/stefan/.config/canto/feeds
home/stefan/.config/canto/pid
home/stefan/.config/canto/plugins/
home/stefan/.config/sublime-text-3
home/stefan/.config/user-dirs.dirs
home/stefan/.config/user-dirs.locale
